<div style="width: 100%; background-color: #cdcdcd" align="center">
            <div style="width: 900px; background-color: #FFF">
            <h3 align="center">LAPORAN DATA SURAT KEPUTUSAN</h3><hr>
                <table border="1" width="100%">                    
                <thead>
                        <tr>
                            <th>NO</th>
                            <th>NAMA ARSIP</th>
                            <th>DOKUMEN</th>
                            <th>Kategori</th>
                            <th>BULAN</th>
                            <th>TANGGAL</th>
                            <th>TANGGAL SAH</th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for Sk in data %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{Sk.nama_arsip}}</td>
                            <td>{{Sk.dokumen}}</td>
                            <td>{{Sk.kategori}}</td>
                            <td>{{Sk.bulan}}</td>
                            <td>{{Sk.tanggal}}</td>
                            <td>{{Sk.tanggal_sah}}</td>
                            <!-- <td>{{jenissurat.keterangan_jenis}}</td> -->
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div></div>
            <script type="text/javascript">print();</script>