{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html"><i class="la la-home font-20"></i></a>
            </li>

        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-head bg-teal color-white widget-stat">
                <a title="It is abbreviation" class="fa fa-pencil">EDIT LPM</a>
            </div>

        </div>
        <div class="ibox">
            <div class="ibox-body">
                <form class="#" method="POST" novalidate="novalidate" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-12">
                        <table class="table">
                        <tr>
                        <td>
                            {{ editlpm}}
                            </td></tr></table>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 ml-sm-auto">
                            <button class="btn btn-success" type="submit"> Simpan</button>
                            <a class="btn btn-danger" href="{% url 'lpm'%}"> batal</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <div>
</div>



        {% endblock content %}