{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <h1 class="font-strong">Hapus Data </h1>
    </div>
    <div class="page-content fade-in-up">

        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <div class="card card-body">
                        <p> Are you sure want to delete "{{hapuslpm}}" ?</p>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <br>
                            <a class="btn btn-danger" href="{% url 'lpm' %}" role="button">Batal</a>
                            <input type="submit" class="btn btn-primary" name="Confirm" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


